.home--header{
    display: flex;
    flex-direction: column;

    .background--black{
        background-color: #000;
        width: 100%;

        .header--top{
            display: flex;
            color: #cdcfd8;
            justify-content: space-between;
    
            .header--top--left{

                ul{
                    padding-left: 0
                }
                li{ display: inline-block;
                }
                li:nth-of-type(2){
                    text-transform: uppercase;
                    margin: 0 10px 0 10px ;
                }
                li:nth-of-type(3){
                    margin-left: 10px;
                }
            }
            .header--top--right{
                
                li{
                    display: inline-block;
                    margin-left: 10px;
                }
    
            }
            ul{
                font-size: 14px;
            }
        }
    }

    .header--logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 0;
        gap: 10px;
        img{
            width: 100%;
        }
    }

    

    .background--red{

        background-color: #ff2143;
        width: 100%;
        .header--bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
    
            nav ul{
                display: flex;
                text-transform: uppercase;
                text-decoration: none;
                gap: 25px;
                margin: 0;
                padding-left: 0;
                padding-top: 25px;
                padding-bottom: 25px;
                a{
                    color: #fff;
                    font-weight: 500;
                }
                span{
                    font-weight: 300;
                }
    
            }
    
            .nav--socials ul{
                display: flex;
                gap: 20px;
                padding: 25px;
                border-left: 1px solid #fff;
                border-right: 1px solid #fff;
                margin: 0;
                li:nth-of-type(5){
                    padding-left: 15px;
                    margin: 0;
                }
                li{
                    transition: .7s;
                }
                li:hover{
                    transform: scaleX(-1);
                    transition: .7s;

                }
            }
        }
    }
}

.mobile--nav{
    display: none; 

}

@media screen and (max-width:992px){

    .header--top--left{
        ul{
            span{
                display: none;
            }
        }
    }
    .home--header .background--black .header--top .header--top--left li:nth-of-type(3) {
        display: none;
    }

    .nav--socials{
        display: none;
    }
}

@media screen and (max-width:768px){
    .home--header .header--logo a:nth-of-type(1){
        display: none;
    }

    nav{
        display: none;
    }
    .mobile--nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 100%;
        gap: 65%;
        padding: 5px 0;
    }
}

@media screen and (max-width:576px ) {
    .background--black{
        display: none;
    }
    
}

