body {
    font-family: 'Roboto', sans-serif;

}



.summer{
    background-color: #f4f4f4;
    padding: 90px 0;
    .summer--img{
        text-align: center;
        img{
            width: 100%;
        }
    }

}

.trending--news{
    padding: 80Px 0;

    h2{
        font-weight: 700;
        font-size: 40px;
        color: #051441;
    }

    .tNews--block{
        display: flex;
        gap: 30px;
        .tNews{
            .tNews--img img{
                height: auto;
                width: 100%;
                border-radius: 10px;
            }
            .tNews--txt{
                background-color: #fff;
                position: relative;
                border-radius: 10px;
                bottom: 100px;
                width: 80%;
                left: -10px;
                padding: 25px 25px 25px 20px;

                h3{
                    color: #051441;
                    font-size: 18px;
                    margin: 0px;
                    font-style: normal;
                    font-weight: 500;
                    transition: .7s;
                }
                h3:hover{
                    color: crimson;
                    cursor: pointer;
                    transition: .7s;
                }
                .tNews--txt--bottom{
                    display: flex;
                    justify-content: space-between;
                    span{
                        color: #7a8496;
                        font-size: 11px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.most--popular{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 60px 0 40px 0;
    gap: 30px;
    img{
        width: 100%;
    }

    .most--popular--block{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;

        h3{
            font-size: 18px;
            font-weight: 700;
            margin-left: 35px;
        }

        .popular--block{
            display: flex;
            gap: 30px;
            padding: 0 20px;

            
            p{
                color: #051441;
                font-size: 16px;
                font-weight: 700;
                line-height: 21px;
            }
            p:hover{
                color: crimson;
                cursor: pointer;
                transition: .7s;
            }
            span{
                color: #838793;
                font-size: 12px;
            }
        }
    }
}

.whatsnew{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    gap: 30px;

    .whatsnew--L{

        margin-top: 80px;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;

        .whatsnew--L--ads{
            img{
                width: 100%;
                height: auto;
            }
        }
        .wn--L--titre{
            display: grid;
            grid-template-columns: 1fr 2fr;
            padding-bottom: 30px;

            h2{
                font-size: 40px;
                font-weight: 700;
                margin: 0;
                color: #051441;
            }

            .wn--L--titreSmall{
                
                ul{
                    display: flex;
                    gap: 35px;
                    font-size: 16px;
                    font-weight: 500;
                    li:nth-of-type(1){
                        color: crimson;
                    }
                    li{
                        cursor: pointer;
                    }
                }
            }
        }
        .whatsnew--L--articles{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;

            .blue{
                color: #0077B5;
            }
            .red{
                color: crimson;
            }
            .green{
                color: greenyellow;
            }
            
            .wn--L--articlesL{
                img{
                    width: 100%;
                    height: auto;
                }
                h3{
                    font-size: 20px;
                    transition: .7s;
                }
                h3:hover{
                    cursor: pointer;
                    color: crimson;
                    transition: .7s;
                }
                span{
                    font-size: 12px;
                    color: #7a8496;
                }
                p{
                    line-height: 30px;
                    font-size: 16px;
                }
            }

            .wn--L--articlesR{
                display: flex;
                flex-direction: column;
                
                .articlesR--small{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    margin-bottom: 15px;

                    .articlesR--txt{
                        h3{
                            font-size: 11px;
                            margin: 0;
                            text-transform: uppercase;
                        }
                        p{
                            font-size: 16px;
                            margin-bottom: 0;
                            line-height: 23px;
                            font-weight: 500;
                            transition: .7s;
                        }
                        p:hover{
                            color: crimson;
                            transition: .7s;
                            cursor: pointer;
                        }
                        span{
                            font-size: 12px;
                            color: #7a8496;
                        }
                    }

                }
            }

        }
    }
    .whatsnew--R{
        margin-top: 80px;

        .whatsnew--socials{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            background-color: #fff;
            border-radius: 10px;
            gap: 10px;
            padding: 25px 20px;
            margin-bottom: 40px;
            

            .whatsnew--social{
                display: flex;
                border: 1px solid rgba(128, 128, 128, 0.267);
                border-radius: 10px;
                align-items: center;
                padding: 10px;
                gap: 10px;

                p{
                    margin: 0;
                    font-size: 14px;
                    font-weight: 500;
                }
                span{
                    font-size: 11px;
                }

                img{
                    cursor: pointer;
                }
            }
        }

        .whatsnew--recent{
            background-color: #fff;
            border-radius: 10px;
            padding: 25px 20px;

            h3{
                color: #051441;
                margin-top: 0;
            }

            .recent--articles--large{
                position: relative;
                padding-bottom: 20px;

                .articleLarge--img{
                    position: relative;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }

                .recent--articlesLarge--txt{
                    position: absolute;
                    bottom: 0;
                    padding: 50px 25px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    h5{
                        margin: 0;
                        background-color: #8A3AB9;
                        text-transform: uppercase;
                        color: #fff;
                        border: 1px solid  #8A3AB9;
                        border-radius: 10px;
                        font-size: 11px;
                        padding: 10px 10px;
                        font-weight: 500;

                    }
                    p{
                        font-size: 16px;
                        font-weight: 700;
                        color: #fff;
                        transition: .7s;
                        cursor: pointer;
                    }

                    span{
                        font-size: 12px;
                        color: #fff;
                    }

                }
            }

            .recent--articles--small{
                display: flex;
                flex-direction: column;
                gap: 15px;

                .recent--articlesSmall{
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    p{
                        margin: 0;
                        font-size: 16px;
                        font-weight: 500;
                        transition: .7s;
                    }
                    p:hover{
                        color: crimson;
                        cursor: pointer;
                        transition: .7s;
                    }
                    span{
                        font-size: 11px;
                        color: #7a8496;
                    }
                }
            }

        }


    }
}



.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 30px;
    border-bottom: 1px solid #7a849623;
    gap: 30px;

    img{
        width: 100%;
        height: auto;
        position: relative;
    }

    .areaLarge, .areaSmall{
        position: relative;
        padding-bottom: 15px;

        .areaLarge--img, .areaSmall--img {
            position: relative;
            
        }

        .areaLarge--txt, .areaSmall--txt{
            position: absolute;
            bottom: 0;
            padding: 50px 25px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h5{
                margin: 0;
                background-color: #8A3AB9;
                text-transform: uppercase;
                color: #fff;
                border: 1px solid  #8A3AB9;
                border-radius: 5px;
                font-size: 10px;
                padding: 7px 14px ;
                font-weight: 500;
            }
            .btn--business{
                background-color: #ed4141;
                border: 1px solid #ed4141;
            }
            .btn--fashion{
                background-color: #0077B5;
                border: 1px solid #0077B5;
            }
            .btn--tech{
                background-color: #13c600;
                border: 1px solid #13c600;
            }

            h3{
                font-weight: 700;
                font-size: 40px;
                color: #fff;
                line-height: 50px;
                margin-bottom: 10px;
                transition: .7s;
            }
            h3:hover{
                color: crimson;
                cursor: pointer;
                transition: .7s;
            }
            p{
                font-size: 24px;
                font-weight: 700;
                color: #fff;
                transition: .7s;
            }
            p:hover{
                color: crimson;
                cursor: pointer;
                transition: .7s;
            }

            span{
                font-size: 12px;
                color: #c2c2c2;
            }

        }
    }
}

@media screen and (max-width:1200px) {

    .main{
        .areaSmall:nth-of-type(2){
            .areaSmall--txt{
                top: -45px;
                
            }
        }
    }

     // BLOCK WHATS NEW RESPONSIVE 
     .whatsnew{
        grid-template-columns: 65% 35%;
        .whatsnew--L{
            .wn--L--titre{
                grid-template-columns: 1fr;
                ul{
                    padding-left: 5px;
                }
            }
            .whatsnew--L--articles{
                grid-template-columns: 1fr;

                .wn--L--articlesR{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    .articlesR--small{
                        .articlesR--txt{
                            p{
                                font-size: 11px;
                                line-height: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    // BLOCK MOST POPULAR RESPONSIVE 

    .most--popular{
        .most--popular--block{
            .popular--block{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
                padding: 0 25px 25px 25px;
                .popular--block:nth-of-type(1){
                    margin-left: 0;
                }
                .popular--block--small:nth-of-type(3){
                    display: none;
                }
            }
        }

    }

}

@media screen and (max-width:992px){

    .main{
        grid-template-columns: 1fr;
        .main--area--right{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
        .areaSmall:nth-of-type(2){
            .areaSmall--txt{
                top: -10px;
            }
        }
    }

    .whatsnew{
        grid-template-columns: 1fr;
    }

    .most--popular{
        grid-template-columns: 1fr;

        .most--popular--ads{
            display: none;
        }
    }

    .tNews:nth-of-type(3){
        display: none;
    }

}

@media screen and (max-width:768px){ 


    .main .areaLarge .areaLarge--txt h3{
        font-size: 30px;
    }
    .main .areaSmall:nth-of-type(2) .areaSmall--txt{
        top: -40px;
    }
    .main .areaSmall .areaSmall--txt p{
        font-size: 15px; ;
    }

    .whatsnew .whatsnew--L .whatsnew--L--articles .wn--L--articlesR {
        grid-template-columns: 1fr;
    }
    .whatsnew .whatsnew--R {
        margin-top: 0;
    }

    .trending--news{
        padding-bottom: 0;
    }
    .tNews:nth-of-type(2){
        display: none;
    }
}

@media screen and (max-width:576px ) {
    .main{
        .main--area--right{
            display: grid;
            grid-template-columns: 1fr ;
        }
        .areaSmall:nth-of-type(2){
            .areaSmall--txt{
                top: 130px;
            }
        }
    }

    .whatsnew .whatsnew--L .whatsnew--L--articles .wn--L--articlesR .articlesR--small{
        flex-direction: column;
        align-items: flex-start;
    }

    .most--popular .most--popular--block .popular--block{
        grid-template-columns: 1fr;
    }

    .most--popular .most--popular--block .popular--block .popular--block--small:nth-of-type(2){
        display: none;
    }

}